body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body {

  background: #fff;
  position: relative;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  display: block;
}

html,body,#root {
  background: #fff;
  position: relative;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  display: block;
}